@import '../variables.scss';

.Preview {
  position: absolute;
  top: $navigation-height;
  left: 0;
  right: 0;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  @include flexbox-vertical-align();

  &.full {
    height: 100%;
    left: 0;
  }

  .inactive {
    opacity: 0.5;
  }
}