.CodeMirror {
  height: auto;
  background: inherit;

  .override-editor & {
    background: white;
    border: 1px solid #efefef;
    border-radius: 4px;

    .CodeMirror-hscrollbar {
          height: 4px !important;
    }
  }
}