$font-stack:    Helvetica, sans-serif;
$primary-color: #000;
$left-panel-width: 280px;
$navigation-height: 28px;

@mixin flexbox-vertical-align() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
};