@import 'variables.scss';
body {
  font: 100% $font-stack;
  color: $primary-color;
  background: $primary-color;

  .app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .navigation {
      background-color: #ffffff;
      height: $navigation-height;
    }

    .sidebar {
      padding-top: 20px;
      padding-bottom: 20px;
      box-sizing: border-box;

      &.left-panel {
        width: $left-panel-width;
        display: inline-block;
        z-index: 1;
        position: relative;
        height: 85%;
        max-width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background: #fcfcfc;

        .content-container {
          padding: 0 20px;

          &.compiled-css {
            white-space: pre-wrap;
            font-family: monospace;
            font-size: 12px;
            line-height: 1.25em;
            letter-spacing: 0.05em;
          }
        }
      }

      &.right-panel {
        display: none;
        position: absolute;
        top: 0;
        right: -$left-panel-width;
        bottom: 0;
        height: 85%;
        width: $left-panel-width;
        background: #fcfcfc;
        z-index: 1;
        overflow: auto;

        &.active {
          display: block;
          right: 0;
        }

        .tab {
          display: none;

          &.active {
            display: block;
          }
        }
      }

      .content-container {
        $spacing: 20px;
        padding: $spacing;

        .keyframe-editor-container {

          + .keyframe-editor-container {
            margin-top: $spacing;

          }
          input[type=text] {
            text-align: right;
            width: 40px;
            background-color: #fcfcfc;
            border-color: #fcfcfc;

            &:hover {
              background-color: #ffffff;
              border-color: #d9d9d9;
            }
          }

          .title.delete {
            float: right;
          }
        }
      }
    }

  // > .preview {
  //   background-color: #efefef;
  //   background-color: #DB5956;
  //   position: absolute;
  //   top: $navigation-height;
  //   left: $left-panel-width;
  //   right: 0;
  //   height: 85%;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  //   @include flexbox-vertical-align();
  // }

    .timeline-editor-wrapper {
        z-index: 2;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 15%;
        overflow: auto;
        background-color: #6F6F6F;


        .timeline-editor {
          background: #6F6F6F;
          height: 100%;


          // secondary...

          .timeline-track {

            &.secondary {
              .timeline-meta {
                // background-color: red;

                &:before {
                  content: '';
                  display: inline-block;
                  // background-color: green;
                  width: 20px;
                  height: 20px;
                }
              }
            }

            .timeline-meta {
              position: absolute;
              float: left;
              width: 230px;
              background: grey;
              color: white;
              z-index: 1;
              height: 100%;
              border-right: 2px solid #525252;
              font-family: Verdana, Geneva, sans-serif;
              font-size: 13px;

              > .name {
                  background: none;
              color: white;
              border: none;
              padding: 3px;
              }
            }
          }


          .timeline {
          position: relative;
            margin-left: 232px;
            height: 20px;

            .notches {
              width: 100%;
              height: 100%;
              position: relative;
              z-index: 1;

              .notch {
                position: absolute;
                height: 33%;
                width: 1px;
                background-color: #cacaca;

                $notch-cnt: 100;
                @mixin notch-positions {
                  @for $i from 0 through $notch-cnt {
                    &[position="#{$i}"] {
                      left: #{$i}#{"%"};
                    }
                  }
                }

                @include notch-positions;

                &:first-child,
                &:last-child {
                  background-color: inherit;
                }

                &:nth-child(5n+1) {
                  height: 48%;
                }

                &:nth-child(10n+1) {
                  height: 66%;
                }
              }
            }
          }
        }
    }
  }
}

